In [ ]:
import pandas as pd

# 시각화를 화면에 보여주는 코드
%matplotlib inline

import seaborn as sns

import matplotlib.pyplot as plt

# 그래프 설정을 위한 모듈
import matplotlib as mlp

# 한글지원을 위해 나눔고딕 폰트로 설정
# 다운 받아야 함
plt.rcParams['font.family'] = 'NanumGothic'

# 그래프의 크기 설정
plt.rcParams['figure.figsize'] = (12, 6)

import warnings
warnings.filterwarnings('ignore')

In [ ]:
dt={'날짜':['2020-01','2020-02','2020-03','2020-04','2020-05','2020-06'], '서울':[956,972,934,922,910,901],'경기':[1102, 1111, 1234,1312,1333,1298]}
df=pd.DataFrame(dt)
df=df.set_index(df['날짜'])
df

In [ ]:
# 디폴트로 x축은 인덱스, y축은 컬럼으로 설정됩니다.

df.plot()

In [ ]:
# 서울 컬럼의 데이터를 막대그래프로 표현합니다.

df['서울'].plot.bar()

In [ ]:
# 모든 컬럼의 데이터를 막대그래프로 표현합니다.

df.plot.bar()

In [ ]:
# 모든 컬럼의 데이터를 히스토그램으로 표현합니다.

df.plot.hist()

In [ ]:
# 컬럼의 데이터를 산점도로 표현합니다.
# x축은 날짜, y축은 서울 컬럼 데이터입니다.

df.plot.scatter(x='날짜', y='서울')

In [ ]:
df.plot(kind='scatter',x='날짜', y='서울', c='red',s=100)

In [ ]:
df.plot(kind='scatter',x='날짜', y='서울', c='blue',s=100 , marker='+')

In [ ]:
# 컬럼의 데이터를 박스그래프로 표현합니다.

df.plot.box()

In [ ]:
# x축은 '날짜', y축은 서울 컬럼으로 설정합니다.

plt.plot(df['날짜'], df['서울'])

In [ ]:
# 그래프 크기 설정
plt.figure(figsize=(14,5))

plt.plot(df['날짜'], df['서울'])

# 그래프 이름 설정
plt.title('2020년 서울')

# X축 이름 설정
plt.xlabel('기간')

# Y축 이름 설정
plt.ylabel('인구수')

# X축 라벨 크기, 회전 설정
plt.xticks(size=20, rotation=45)

# 범례 표시
plt.legend(labels=['서울 인구 변화'])

plt.show()

In [ ]:
# 그래프 크기 설정
plt.figure(figsize=(14,5))

plt.plot(df['날짜'], df['서울'], marker='o', markersize=10, color='red')

# 그래프 이름 설정
plt.title('2020년 서울')

# X축 이름 설정
plt.xlabel('기간', size=20)

# Y축 이름 설정
plt.ylabel('인구수')

# X축 라벨 크기, 회전 설정
plt.xticks(size=20, rotation=45)

# 범례 표시
plt.legend(labels=['서울 인구 변화'], loc='best', fontsize=15)

plt.show()

In [ ]:
fig=plt.figure(figsize=(10,10))

ax1=fig.add_subplot(2,1,1)
ax2=fig.add_subplot(2,1,2)

ax1.plot(df['서울'])
ax2.plot(df['경기'], marker='o', color='yellow')

ax1.legend(labels=['서울 인구 변화'], loc='best')
ax2.legend(labels=['경기 인구 변화'], loc='best')

plt.show()

In [ ]:
dt={'날짜':['2020-01','2020-02','2020-03','2020-04','2020-05','2020-06'], 
    '서울':[956,972,934,922,910,901],'경기':[1102, 1111, 1234,1312,1333,1298],
    '부산':[352,335,312,325,342,319], '광주':[165,172,181,170,169,173]
   }
df=pd.DataFrame(dt)
df=df.set_index(df['날짜'])
df

In [ ]:
fig=plt.figure(figsize=(10,10))

ax1=fig.add_subplot(2,2,1)
ax2=fig.add_subplot(2,2,2)
ax3=fig.add_subplot(2,2,3)
ax4=fig.add_subplot(2,2,4)

ax1.plot(df['서울'], marker='o', color='blue')
ax2.plot(df['경기'], marker='o', color='yellow')
ax3.plot(df['부산'], marker='o', color='red')
ax4.plot(df['광주'], marker='o', color='green')

ax1.legend(labels=['서울 인구 변화'], loc='best')
ax2.legend(labels=['경기 인구 변화'], loc='best')
ax3.legend(labels=['부산 인구 변화'], loc='best')
ax4.legend(labels=['광주 인구 변화'], loc='best')

plt.show()

In [ ]:
df.plot(kind='area')

In [ ]:
df.plot(kind='area', stacked=False, alpha=0.2)

In [ ]:
df.plot(kind='area', stacked=False, alpha=0.2, figsize=(10,5))
plt.title('도시 인구수', size=30)
plt.ylabel('인구수')
plt.xlabel('기간')

plt.show()

In [ ]:
df.plot(kind='bar', width=0.7, color=['blue', 'yellow', 'red', 'green'])

In [ ]:
df.plot(kind='barh', width=0.7, color=['blue', 'yellow', 'red', 'green'])

In [ ]:
tt=sns.load_dataset('titanic')
tt.head()

In [ ]:
tt['embarked'].value_counts()

In [ ]:
em_pie=tt['embarked'].value_counts()
em_pie.plot(kind='pie')

In [ ]:
em_pie.plot(kind='pie', autopct='%1.1f%%')

In [ ]:
em_pie.plot(kind='pie', autopct='%1.1f%%', figsize=(10,6))

In [ ]:
# x 축에는 'embarked' 컬럼을 설정합니다. y축은 해당 컬럼내 데이터의 빈도수가 표시됩니다.

sns.countplot(data=tt, x='embarked')

In [ ]:
# swarmplot은 x축 데이터와 y축 데이터 간의 관계를 점으로 표시합니다.

sns.swarmplot(data=tt, x='pclass', y='age')

In [ ]:
plt.figure(figsize=(10,5))

sns.swarmplot(data=tt, x='pclass', y='age')

In [ ]:
# violinplot은 x축 데이터와 y축 데이터 간의 관계를 면적으로 표시합니다.

sns.violinplot(data=tt, x='pclass', y='age')

In [ ]:
# X축에는 'sex'컬럼 데이터, Y축에는 'sex'컬럼 데이터에 매칭하는 'survived'컬럼 값들의 평균값을 보여줍니다.

# 검은색 작대기는 무엇일까요? 검은색 작대기는 분산을 의미합니다.

# 검은색 작대기가 길수록 해당 데이터의 값의 분산이 크다는 이야기입니다.

sns.barplot(data=tt, x='sex', y='survived')

In [ ]:
sns.barplot(data=tt, x='sex', y='survived', hue='pclass')

In [ ]:
plt.figure(figsize=(24, 9))

sns.barplot(data=tt, x='sex', y='survived', hue='pclass')
plt.title('성별 생존자 평균')
plt.ylabel('생존자 평균', size=20)
plt.xticks(rotation=45)
mlp.rcParams['font.size'] = 20

In [ ]:
# X축에는 'SibSp'컬럼 데이터, Y축에는 'Survived'컬럼 데이터에 매칭해서 선 그래프를 보여줍니다.

sns.pointplot(data=tt, x='sibsp', y='survived')

In [ ]:
sns.pointplot(data=tt, x='sibsp', y='survived', hue='sex')

In [ ]:
# X축에는 'age'컬럼 데이터, Y축에는 'age'컬럼 데이터에 매칭하는 'fare'컬럼 값들을 점으로 보여줍니다.

sns.scatterplot(data=tt, x='age', y='fare')

In [ ]:
sns.scatterplot(data=tt, x='age', y='fare', hue='sex')

In [ ]:
# X축에는 'age'컬럼 데이터, Y축에는 'age'컬럼 데이터에 매칭하는 'fare'컬럼 값들을 점으로 보여줍니다. 회귀선을 볼 수 있습니다.

sns.lmplot(data=tt, x='age', y='fare')

In [ ]:
sns.lmplot(data=tt, x='age', y='fare',  fit_reg=False)

In [ ]:
sns.lmplot(data=tt, x='age', y='fare', hue='sex')

In [ ]:
sns.boxplot(data=tt, x='sex', y='age')

In [ ]:
sns.boxplot(data=tt, x='sex', y='age', hue='pclass')

In [ ]:
figure, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(nrows=3, ncols=2)

figure.set_size_inches(18, 12)

mlp.rcParams['font.size'] = 5

sns.barplot(data=tt, x='sex', y='survived', ax=ax1)
sns.barplot(data=tt, x='pclass', y='survived', ax=ax2)
sns.barplot(data=tt, x='embarked', y='survived', ax=ax3)
sns.barplot(data=tt, x='sibsp', y='survived', ax=ax4)
sns.barplot(data=tt, x='parch', y='survived', ax=ax5)
sns.scatterplot(data=tt, x='fare', y='age', ax=ax6)

In [ ]:
# 행과 열로 구분할 컬럼을 설정합니다.

# plt.hist으로 옵션을 설정하면 히스토그램으로 표시됩니다.

g=sns.FacetGrid(data=tt, col='sex', row='survived')

g.map(plt.hist, 'age')

In [ ]:
g=sns.FacetGrid(data=tt, col='sex', row='survived')
g.map(plt.scatter, 'age', 'fare')

In [ ]:
sns.distplot(tt['fare'])

In [ ]:
sns.distplot(tt['fare'], hist=False)

In [ ]:
sns.distplot(tt['fare'], kde=False)

In [ ]:
tt.corr()

In [ ]:
sns.heatmap(tt.corr())